@{
    ViewData["Title"] = "Home Page";
}

@model ITHub.View.Models.IndexAllSongsViewModel

@foreach (var song in Model.Songs)
{
    <h1>@song.Name</h1>
    <iframe width="560" height="315" src="@song.Link" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
}

